---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card";
---

<Layout title="Clicon - eCommerce Marketplace">
  <main>
    <h1 class="font-extrabold text-4xl text-center">Tailwind ok</h1>

    <Card title="React ok" />
  </main>
</Layout>
